{"swagger":"2.0","host":"data.beta.mksmart.org","basePath":"/","schemes":["https"],"paths":{"/entity":{"get":{"tags":["entity"],"summary":"List supported entity types","produces":["application/json"],"responses":{"200":{"description":"service lives","schema":{"type":"object"}}}}},"/entity/{type}":{"get":{"tags":["entity"],"summary":"Describe supported entity types","parameters":[{"in":"path","name":"type","description":"An identifier of the/a type for this entity","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"service lives","schema":{"type":"object"}}}}},"/entity/{type}/{id}":{"get":{"tags":["entity"],"summary":"Retrieve entity data","parameters":[{"in":"path","name":"type","description":"An identifier of the/a type for this entity","required":true,"type":"string"},{"in":"path","name":"id","description":"A unique identifier for an entity of the supplied type","required":true,"type":"string"},{"in":"query","name":"global","description":"Whether the output should contain only global IDs","required":false,"type":"boolean"}],"produces":["application/json"],"responses":{"200":{"description":"successful operation","schema":{"type":"object"}},"404":{"description":"No such entity was found"}}}},"/entity/{type}/{property}/{value}":{"get":{"summary":"Retrieve entity data","tags":["entity"],"parameters":[{"in":"path","name":"type","description":"An identifier of the/a typefor this entity","required":true,"type":"string"},{"in":"path","name":"property","description":"The name of the property used to identify the entity.","required":true,"type":"string"},{"in":"path","name":"value","description":"The value for the designated property.","required":true,"type":"string"},{"in":"query","name":"global","description":"Whether the output should contain only global IDs","required":false,"type":"boolean"}],"produces":["application/json"],"responses":{"200":{"description":"successful operation","schema":{"type":"object"}},"404":{"description":"No such entity was found"}}}}},"info":{"title":"MK:Smart entity-centric API","version":"1.2","description":"Produces an aggregate representation of an entity in the Datahub given its type and identifier."}}